<p style="color: green"><%= notice %></p>

<% content_for :title, "Problematic Posts - Pagination Bug Demo" %>

<h1>ページネーションがおかしくなるやつ</h1>

<%= render 'posts_container' %>

<p style="margin-top: 20px;">
  <%= link_to "safe_params版", posts_path, style: "color: #28a745; font-weight: bold;" %>
  |
  <%= link_to "paginate切り出し版", turbo_posts_path, style: "color: #17a2b8; font-weight: bold;" %>
</p>
