<p style="color: green"><%= notice %></p>

<% content_for :title, "Fixed Posts - Pagination Solution Demo" %>

<h1>safe_paramsにて解決</h1>

<%= render 'posts_container' %>

<p style="margin-top: 20px;">
  <%= link_to "問題のあるページ", problematic_posts_path, style: "color: #dc3545; font-weight: bold;" %>
  |
  <%= link_to "paginate切り出し版", turbo_posts_path, style: "color: #17a2b8; font-weight: bold;" %>
</p>